In [74]:
with open('phonebook.txt','r') as file:
    contents = file.read()
    print(contents)

Mr Susan D'souza
H.No:8, Colchester
+44 5423891290
susan.kelly@hotmail.com

Mrs. Keya Parekh
H.No:12, Sussex
+91 9087653421
keya24@gmail.com

Mr Yassir rabhi
Flat:25, Ipswich
+44 2098674532
rabhi_23@essex.co.uk

Ms Rosie
H.No:41, Parklane, Clacton
+21 3456789001
roses@gmail.com

In [190]:
with open('phonebook.txt','r') as file:
    contents = file.read()
    # extract all the names of people from this file
    name_pattern = re.compile(r'M(s|rs|r)\.?\s+[A-Z]\w+\s+\w?\'?\w+')
    name_matches = name_pattern.finditer(contents)
    # extract all the addresses of people from this file
    address_pattern = re.compile(r'(H|F)\.?\w+\:\d+\,\s\w+')
    address_matches =  address_pattern.finditer(contents)
    # extract all the phone numbers of people from this file
    phone_pattern = re.compile(r'\+\d{2}\s?\d+')
    phone_matches = phone_pattern.finditer(contents)
    # extract all the emails
    email_pat = re.compile(r'[a-z]+\_*\d*\@\w+\.?\w+')
    email_matches = email_pat.finditer(contents)

In [191]:
# for name,address,phone,email in zip(name_matches,address_matches,phone_matches,email_matches):
#     print(name,'\n',address,'\n',phone,'\n',email)
#     print('-------------------------')
#     print(name.group(0))

In [192]:
phone_list = []
for name,address,phone,email in zip(name_matches,address_matches,phone_matches,email_matches):
    #print(name.group(),'\n',address.group(),'\n',phone.group(),'\n',email.group())
    phone_dict = {'name':name.group(),
                   'address':address.group(),
                   'phone':phone.group(),
                   'email':email.group()}
    print(phone_dict)
    phone_list.append(phone_dict)

{'name': "Mr Susan D'souza", 'address': 'H.No:8, Colchester', 'phone': '+44 5423891290', 'email': 'kelly@hotmail.com'}
{'name': 'Mrs. Keya Parekh', 'address': 'H.No:12, Sussex', 'phone': '+91 9087653421', 'email': 'keya24@gmail.com'}
{'name': 'Mr Yassir rabhi', 'address': 'Flat:25, Ipswich', 'phone': '+44 2098674532', 'email': 'rabhi_23@essex.co'}
{'name': 'Ms Rosie Rayap', 'address': 'H.No:41, Parklane', 'phone': '+21 3456789001', 'email': 'roses@gmail.com'}

In [189]:
import pandas as pd
df = pd.DataFrame(phone_list)
df

               name             address           phone              email
0  Mr Susan D'souza  H.No:8, Colchester  +44 5423891290  kelly@hotmail.com
1  Mrs. Keya Parekh     H.No:12, Sussex  +91 9087653421   keya24@gmail.com
2   Mr Yassir rabhi    Flat:25, Ipswich  +44 2098674532  rabhi_23@essex.co
3    Ms Rosie Rayap   H.No:41, Parklane  +21 3456789001    roses@gmail.com

In [223]:
urls = '''
https://www.google.com
http://bhuvika.com
https://youtube.com
https://www.nasa.gov
'''

In [221]:
pattern = re.compile(r'http[s]?://\w+.\w+.?\w+')
matches = pattern.finditer(urls)
for match in matches:
    print(match.group())

https://www.google.com
http://bhuvika.com
https://youtube.com
https://www.nasa.gov

In [228]:
pattern = re.compile(r'https?://(www\.)?(\w+)(\.\w+)')
matches = pattern.finditer(urls)
for match in matches:
    print(match.group(2))

google
bhuvika
youtube
nasa